@font-face {
  font-family: "Abelton";
  src: url(./FuturaCyrillicMedium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abelton";
}
:root {
  --body-background: #f3f3f3;
  --bg-light-yellow: #fbffa7;
  --bg-live-page:#ebf0dc;
  --bg-orange: #ff764d;
  --bg-light-blue: #b1c5ff;
  --bg-light-violet: #d5b3ff;
  --bg-light-green: #b6ffc0;
  --bg-dark-blue: #0000ff;
  --para-font-color:rgb(82, 81, 81);;
  --container-padding: 3rem 3rem;
}
html {
  background-color: var(--body-background);
  font-size: 62.5%;
  scroll-behavior: smooth;
  max-width: 160rem;
  margin: auto;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 0.8rem;
}
::-webkit-scrollbar-track{
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color: var(--bg-dark-blue);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color:black;
}
h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
}
p,
li {
  font-size: 1.6rem;
  line-height: 1.5;
  /* letter-spacing: 1px; */
}
p{
  color: var(--para-font-color);
}
.container {
  padding: var(--container-padding);

}


/* ----nav-bar---- */

.main-nav {
  padding: 2rem 2rem;
  display: flex;
  font-size: 3rem;
  align-items: center;
  width: 100%;
  -webkit-box-shadow: 1px 3px 15px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 3px 15px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 3px 15px -13px rgba(0, 0, 0, 0.75);
  & li {
    font-size: 2rem;
  }
  & a{
    width: 10%;
  }
  & figure {
    display: flex;
    gap:1rem;
    & .fa-solid:last-child {
      rotate: 90deg;
    }
  }
}
.main-nav-content {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  position: relative;
  & li:nth-last-child(2) {
    color: var(--bg-orange);
  }
  & li:last-child {
    position: absolute;
    right: 5px;
  }
}
.sec-nav {
  padding: 2rem 5rem;
}
.sec-nav-content {
  background-color: #f9f5f5;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  & :first-child {
    color: var(--bg-orange);
  }
}
.live-sec-nav{
  & :last-child{
    color: var(--bg-dark-blue);
  }
}

/* ---nav end --- */
/* ---main--- */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-one {
  text-align: center;
  position: relative;
  padding: 0 5rem;
  margin-bottom: 5rem;
  & img {
    width: 90%;
    height: auto;
    filter: brightness(95%);
  }
  & .main-one-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14rem;
    letter-spacing: 2px;
    color: var(--bg-orange);
  }
}
/* --main-two--- */
.main-data {
  width: 60%;
  margin: 8rem 0;
}
.comm-main-title {
  font-size: 3rem;
}
.comm-main-para {
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--para-font-color);
}
.blue {
  color: var(--bg-dark-blue) ;
}
/* ---main-three--- */
.main-three {
  height: 100vh;
  position: relative;
  & .three-one-box {
    position: relative;
    top: 10rem;
    left: 10rem;
    width: 36%;
    aspect-ratio: 1;
    background-image: url(./images/main3-one.jpg);
  }
  & .three-two-box {
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: var(--bg-light-yellow);
    right: 0;
    top: 0;
    z-index: -1;
  }
  & .three-three-box {
    width: 60%;
    height: 40%;
    background-image: url("./images/main3-two.jpg");
  }
}
.img {
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
.main-four {
  flex-direction: column;
  & iframe {
    width: 80vh;
    height: 50vh;
  }
}
/* --- main-six--- */
.main-six {
  height: 100vh;
  position: relative;

  & .six-one-box {
    position: absolute;
    background-image: url("./images/main6-three.jpg");
    width: 50rem;
    height: 60rem;
    right: 15rem;
    top: 8rem;
    background-position: left;
  }
  & .six-two-box {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--bg-light-green);
    height: 100%;
    width: 60%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: center;
  }
  & .six-three-box {
    background-image: url("./images/main6-one.jpg");
    width: 50rem;
    height: 30rem;
  }
  & .six-four-box {
    background-image: url("./images/main6-two.jpg");
    width: 50rem;
    height: 30rem;
  }
}

.main7 {
  width: 80%;
  height: auto;
  margin: 0rem auto 5rem;
  & img {
    width: 100%;
    height: auto;
  }
}

/* --main nine--- */
.main-nine {
  height: 100vh;
  position: relative;

  & .nine-one-box {
    position: absolute;
    top: 20rem;
    left: 20rem;
    height: 40rem;
    width: 46rem;
    background-image: url("./images/main9-one.jpg");
  }
  & .nine-two-box {
    position: absolute;
    top: 0;
    right: 30rem;
    width: 60%;
    height: 100%;
    z-index: -1;
    background-color: var(--bg-light-violet);
  }
  & .nine-three-box {
    background-image: url("./images/main9-two.jpg");
    position: absolute;
    top: 8rem;
    right: 10rem;
    height: 60rem;
    width: 53rem;
  }
}
/* ---main11--- */
.main11 {
  position: relative;
  height: 90vh;
  width: 100%;
  & .main11-content {
    display: flex;
    width: 80%;
    height: 80%;
    align-items: center;
    & figure {
      width: 100%;
      height: 100%;
      & img {
        width: 100%;
        height: 100%;
      }
    }
    & .eleven-box {
      padding: 2rem;
      width: 100%;
      height: 100%;
      background-color: var(--bg-light-blue);
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 2rem;
    }
  }
}
@media (width <= 1000px) {
  .main11-content {
    flex-direction: column;
  }
}
/* ---main end--- */
/* --footer--- */
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer {
  /* height: 100vh; */
  margin-top: 5rem;
  /* -webkit-box-shadow: -9px 35px 68px -23px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -9px 35px 68px -23px rgba(0, 0, 0, 0.75);
  box-shadow: -9px 35px 68px -23px rgba(0, 0, 0, 0.75); */
  border-top: .5rem solid rgba(0, 0, 0, 0.03);
  padding: 5rem 10rem;
}
.footer-head {
  margin-top: 2rem;
  & h1 {
    font-size: 7rem;
  }
}
.footer-cols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 3rem;
  margin: 4rem 0;
  & p {
    font-size: 2rem;
    font-weight: 100;
  }
}
.foot-one {
  & .foot-icon {
    display: flex;
    gap: 1rem;
    font-size: 3rem;
    margin-top: 1rem;
    & .fa-brands:nth-of-type(1) {
      color: var(--bg-dark-blue);
    }
    & .fa-brands:nth-of-type(3) {
      color: red;
    }
    & .fa-brands:nth-of-type(4) {
      color: rgb(252, 2, 44);
      text-shadow: 1px 0 1px rgb(250, 250, 111);
    }
    & .fa-brands:nth-of-type(5) {
      text-shadow: 0 2px 1px blue;
    }
    & .fa-brands:nth-of-type(6) {
      color: rgb(94, 94, 243);
    }
  }
}
footer input,
button,
select {
  padding: 1rem;
  border: none;
}
.foot-three {
  .mail {
    display: flex;
    margin-top: 2rem;
    & input {
      width: 70%;
    }
    & button {
      width: 30%;
      background-color: var(--bg-dark-blue);
      color: white;
    }
  }
}
.foot-five {
  & .region {
    display: flex;
    gap: 0.3rem;
    & select:nth-child(1) {
      width: 50%;
    }
    & select:nth-child(2) {
      width: 50%;
    }
  }
}

.footer-foot {
  display: flex;
  margin-top: 9rem;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  gap: 2rem;
  position: relative;
  & p {
    display: inline-block;
  }
  & div:last-of-type {
    position: absolute;
    right: 5px;
  }
  & .made-in {
    display: flex;
    & p:nth-child(2) {
      margin-left: 1rem;
      & i:nth-child(2) {
        rotate: 90deg;
      }
    }
  }
}
/* ---footer end-- */
/* ---media query--- */
@media (width <= 750px) {
  .main-nav-content {
    display: none;
  }
}

@media (width <= 1024px) {
  html {
    font-size: 54%;
  }
  .main-data {
    margin: 5rem 0;
  }
  .main-three {
    height: 80vh;
    & .three-one-box {
      top: 20rem;
    }
    & .main-four {
      & iframe {
        width: 80vw;
        height: 30vh;
      }
    }
  }
  .main-four {
    & iframe {
      width: 60rem;
      height: 35rem;
    }
  }
  .main-six {
    height: 80vh;
    & .six-one-box {
      right: 10rem;
      top: 13rem;
      width: 40rem;
      height: 50rem;
    }
    & .six-three-box {
      width: 40rem;
      height: 30rem;
    }
    & .six-four-box {
      width: 40rem;
      height: 30rem;
    }
  }
  .main-nine {
    & .nine-one-box {
      left: 2rem;
    }
  }
  .main-six {
    height: 80vh;
  }
}
@media (width<= 768px) {
  html {
    font-size: 50%;
  }
  .main-one {
    & .main-one-title {
      font-size: 7rem;
    }
  }
  .main-three {
    & .three-one-box {
      top: 15rem;
    }
  }
  .main-six {
    /* height: 80vh; */
    & .six-one-box {
      right: 5rem;
      top: 13rem;
      width: 35rem;
      height: 45rem;
    }
    & .six-three-box {
      width: 35rem;
      height: 25rem;
    }
    & .six-four-box {
      width: 35rem;
      height: 25rem;
    }
  }
  .main7 {
    margin: 0 auto 0;
  }
}
@media (width < 970px) {
  .main-nine {
    & .nine-one-box {
      width: 35rem;
      height: 35rem;
      left: 4rem;
    }
    & .nine-two-box {
      height: 80vh;
    }
    & .nine-three-box {
      top: 13rem;
      width: 40rem;
      height: 45rem;
    }
  }
}
@media (width <=430px) {
  html {
    font-size: 46%;
  }
  .main-three {
    height: 60vh;
    & .three-one-box {
      top: 10rem;
      left: 5rem;
    }
  }
  .main-four {
    & iframe {
      width: 45rem;
      height: 28rem;
    }
  }
  .main-six {
    /* height: 80vh; */
    & .six-one-box {
      right: 2rem;
      top: 15rem;
      width: 22rem;
      height: 36rem;
    }

    & .six-three-box {
      width: 26rem;
      height: 20rem;
    }
    & .six-four-box {
      width: 26rem;
      height: 20rem;
    }
  }
  .main-nine {
    height: 80vh;
    & .nine-one-box {
      width: 20rem;
      height: 20rem;
      left: 4rem;
    }
    & .nine-two-box {
      left: 12rem;
    }
    & .nine-three-box {
      top: 15rem;
      right: 2rem;
      width: 27rem;
      height: 33rem;
    }
  }
}
@media (width <=918px) {
  .footer-foot {
    & div:last-of-type {
      display: none;
    }
  }
}

/* ------------------------------------ */
/*            live page                 */
/* ------------------------------------ */
.nav-hid-active{
  display: none;
}
.hidden-nav{
  display: none;
  position: absolute;
  top:5rem;
  z-index: 1;
  width: 100%;
  padding: 2rem 4rem 5rem;
  background-color: var(--body-background);
  & p{
    margin:0.8rem;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--para-font-color);
  }
  & .hid-main-title{
    font-size: 3rem;
    margin-bottom:1rem;
  }
  & .hid-nav-para{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap:2.5rem;
    font-size: 2rem;
  }
  .hid-cols{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    & [class^="hid-nav-col-"]{
      width:25%;
      min-width:30rem;
    }
  }
}
/* --------------------------------- */
/*             Home Page */
/* --------------------------------- */
.section-home-bg{
  background-image: url("./images/home-bg.jpg");
  height: 95vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  margin-bottom: 5rem;
  & .home-bg-content{
    position: absolute;
    top:12rem;
    left:12rem;
  }
  & .home-head-title{
    font-size: 9rem;
    line-height: 1;
  }
  & .home-sec-title{
    font-size: 3rem;
    text-decoration: underline;
  }
  
}

/* ------menus----- */
.grid-row{
  display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
}
.section-home-menu{
  padding: 5rem 11rem;
}
.comm-menu-title{
  font-size: 4rem;
}
.home-menu{
  display: flex;
  flex-direction: column;
  & .home-menu-row1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    & .row1-latest{
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      gap:2rem;
      & p{
        font-size: 2.5rem;
      }
    }
  }
  & .home-menu-row2{
    gap:7rem;
    & img{
      width: 100%;  
      margin-bottom: 1rem;    
    }
    & [class^="btn"]{
      width: fit-content;
      padding: 0.1rem 0.7rem;
      margin-bottom: 1rem;
    }
    & .btn-1{
      background-color: #D5B3FF;
    }
    & .btn-2{
      background-color: #FF8389;
    }
    & p{
      font-size: 2rem;
    }
  }
}
.home-menu-comm{
  margin:5rem auto;
  & .menu-2-col{
    gap: 7rem;
  }
  & .menu-2{
    display: flex;
    min-width: 35rem;
    flex-direction: column;
  }
  & .video{
    width:100%;
    & iframe{
      width: 100%;
      margin: 3rem auto 1rem
    }
  }
}
.home-link{
  padding:5rem 10rem;
  margin-top: 2rem;
  background-color: #eee ;
  & .link{
    gap:2rem;
    flex-wrap: wrap;
    align-items: center;
    & p:first-child{
      color: black;
    }
    & p{
      font-size: 2.5rem;
    }
  }
}
.home-link + footer{
  box-shadow: none;
}
@media (width <= 770px){
  .home-menu{
    & .home-menu-row1{
      flex-direction: column;
      & .row1-latest{
        width: 100%;
      }
    }
  }
}
/* ---------------------------- */
/*              live page       */
/* ---------------------------- */
.live-video-bg{
  width: 100%;
  height: 90vh;
  position: relative;
  color: white;
  & video{
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
  }
  & .live-bg-content{
    position: absolute;
    top:10rem;
    left:15rem;
    
    & .live-bg-head{
      font-size: 6rem;
      margin-bottom: 1rem; 
    }
    & .live-bg-btn{
      background-color: var(--bg-dark-blue);
      font-size: 1.5rem;
      padding:1rem 1.5rem;
     
    }
    #live-head-title{
      background-color: white;
      color: black;
      border-radius: 5rem;
      padding:0 1.5rem;
    }
  }
  & .icon-down{
    position:absolute;
    bottom: 3rem;
    left:50%;
    font-size: 3rem;
  }
}
.section-live-menu1{
  max-width: 130rem;
  margin:6rem auto;
  & .live-menu1-box{
    padding: 8rem 6rem;
    margin-bottom: 6rem;
    background-color: var(--bg-light-blue);
  }
  & .live-menu1-title-comm{
    margin-top: 1rem 0;
    font-size: 4.5rem;
  }
  & .live-menu1-para-comm{
    font-size: 2rem;
  }
}
.video-container{
  width: 100%;
  height: 60rem;
  margin: 4rem auto;
  object-fit: contain;
  & iframe{
    width: 100%;
    height: 100%;
  }
}
.live-menu2-box{
  margin-top: 2rem;
}
.live-menu3-opt{
  display: flex;
  gap: 2rem;
  color: var(--bg-dark-blue);
  margin-top: 1rem;
  & li:first-child{
    color: black;
  }
}

.section-live-menu2{
  padding:8rem 4rem;
  background-color: var(--bg-live-page);
  & .section-live-menu2-content{
    max-width: 130rem;
    margin:2rem auto;
  }
  & :nth-child(3){
    /* position: relative;
    left: 5rem; */
    justify-content: end;
    & .comm-live-info{
      margin:1rem 3rem;
    }
  }
  & :nth-child(4),:nth-child(5){
    padding: 5rem 0;
    & .comm-live-info{
      width: 40%;
      max-width:40rem;
    }
  }
}
/* @media (width <1296px){
  .section-live-menu2{
    & :nth-child(3){
      left:8rem;
    }
  }
}
@media (width <1296px){
  .section-live-menu2{
    & :nth-child(3){
      position: static;
    }
  }
} */

.biggest-head{
  font-size: 9rem;
}
@media (width <= 430px){
.biggest-head{
  font-size: 4rem;
}
}
.flex-two-col{
  display: flex;
  gap:2rem;
  align-items: center;
  margin: 4rem 0;
  justify-content: space-around;
}

.comm-live-info{
  width: 40%;
  margin: 1rem auto;
  padding: 0 1rem;
}
.comm-live-info-head{
  font-size: 3rem;
  margin: 1.5rem;
  margin-left: 0;
}
.comm-live-info-para{
  font-size: 2rem;
}
.section2-live-img1{
  height: 32rem;
  width: 48rem;
  position: relative;
  & img{
    background-size: cover;
    background-position: 100% 100%;
    height: 100%;
    width: 100%;
  }
}
.video-box{
  & iframe{
    padding: 0;
    width: 100%;
    height: 100%;
  }
}
.section2-live-vid4{
  width: 60%;
  height: 50rem;
}
.live-last-box{
  margin: 7rem auto;
  display: flex;
  width: 80%;
  gap: 2rem;
  & figure{
    width: 40%;
    height: auto;
    & img{
      height: 100%;
      width: 100%;
    }
  }
  & .comm-live-info{
    width: 40%;
  }
}
@media (width <=770px){
  .flex-two-col{
    
  }
  }
/* ------section3 live ----- */
.section3-live{
  max-width: 130rem;
  margin: 6rem auto 0;
  & :nth-child(6){
    margin-top: 10rem;
  }
}
.sec3-width-600{
  /* width: 70%; */
  padding: 5rem 0;
  .sec3-width-50{
    width: 50%;
  }
  h1{
    font-size: 4rem;
    margin-bottom:2rem;
  }
  & p{
    font-size: 2rem;
    margin-bottom:1rem;
  }
}
figure{
  & img{
    height: 100%;
    width:100%
  }
  & p{
    font-size: 1.5rem !important;
  }
}
.si3{
  width:70%;
  height: auto;
  margin: 3rem 0;
  & iframe{
    width:55rem
  }
}

.sec3-live-last-img{
  /* position: relative;
  & :is(:nth-child(1),:nth-child(2))::before{
    content: "\f04b";
    position: absolute;
    font-size: 10rem;
    color: #0000ff;
  } */

  /* & :is(:nth-child(1),:nth-child(2)){
    figure{
      & :nth-child(1){
        font-size: 2rem;
        background-color: var(--bg-dark-blue);
        color: rgb(244, 9, 9);
      }
    }
  } */
   margin: 3rem 0;
  & .fa-play{
    color:white;
    background-color: #0000ff;
    font-size: 1.3rem;
  }
  & :nth-child(2){
    width:60%;
    margin-bottom: 1rem;
    & p{
      width: 100%;
    }
  }
  & :nth-child(4){
    width:70%;
  }
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #0000ff;
  margin-bottom: 0.5rem;
}

.bigbtn{
  text-align: center;
  color: var(--bg-dark-blue);
  border: 2px solid var(--bg-dark-blue);
  & h1{ 
  font-size: 2.5rem;
  margin: 0;
  padding: 1rem 0;
  }
  & ::before{
    content: "+";
  }
}
.s3l{
  & :nth-child(4){
    width:60%;
    margin-bottom: 1rem;
    & p{
      width: 100%;
    }
  }
}
.section4-live{
  max-width: 130rem;
  margin: 6rem auto 0;
}

.live-grid-box{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10rem;
  & .live-bigbox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    & .bigbox-head{
      font-size: 5rem;
    }
    & p{
      font-size: 2rem;
    }
  }
}
@media (width <=770px){
  .live-grid-box{
    grid-template-columns:1fr;
    & .live-bigbox{
      max-width: 50rem;
      
    }
  }
  }